
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Rouiter</span></th>
                                <th><span>Value</span></th>
                                <th><span>Change</span></th>
                                <th><span>Per.</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Currancy</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">ELTL</a>
                                        <span class="user-subhead">Misr Petrol</span>
                                    </td>
                                    <td>20</td>
                                    <td>0.1</td>                                                                                    
                                    <td>0.2%</td>
                                    <td class="text-center">
                                        <span class="label label-danger">Down</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">$</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">Full name 1</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td>20</td>
                                    <td>0.1</td>                                                                                    
                                    <td>0.2%</td>
                                    <td class="text-center">
                                        <span class="label label-success">Up</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-danger">EGP</span>
                                    </td>
                                </tr>
                                
<tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">Full name 1</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td>20</td>
                                    <td>0.1</td>                                                                                    
                                    <td>0.2%</td>
                                    <td class="text-center">
                                        <span class="label label-success">Up</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">$</span>
                                    </td>
                                </tr>
                               <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">Full name 1</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td>20</td>
                                    <td>0.1</td>                                                                                    
                                    <td>0.2%</td>
                                    <td class="text-center">
                                        <span class="label label-danger">Down</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">$</span>
                                    </td>
                                </tr>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>